<!DOCTYPE html>
<html>
  <head>
      <script src= 
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> 
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
     <script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dumble shoulder press</title>
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
  </head>
<style>

  body{
    background-color: #333 !important;
    color: white;
  }

  #title{
    background-color: yellowgreen;
    box-shadow: 10px 10px 20px 10px rgb(55, 73, 19);
    border-radius: 100px;
    width: max-content;
    padding: 25px;
    margin: 5px auto;
    font-size: 5em;
    font-family: 'Alata', sans-serif;
  }

  #perf{
    background-color: yellowgreen;
    color: #333;
    border: 2px solid rgb(55, 73, 19);
    font-size: 2em;
    padding: 5px;
    border-radius: 10px;
  }

  #perf:hover{
    color: white;
    transition: transform 0.75s;
    transform: scale(1.1);
  }

  h2#counting{
    margin: 0 auto;
  }

#counting{
  height: 200px;
  width: 200px;
  border-radius: 100px;
  border: 1px solid gray;
  background-color: yellowgreen;
  /* color: white; */
  font-size: 10em;
  text-align: center;
}

.sketch-holder{
  
}
#defaultCanvas0{
  /* height: 22vh !important;
    width: auto !important;
    position: relative;
    left: 160vh;
    top: auto; */
}


#perf{
  display: none;
}

img{
 z-index: 2;
}
#myChart{
  height: 91vh !important;
    width: auto !important;

}
</style>
  <body>
      <div class="row pb-5">
        <div class="col-12 text-center">
            <h1 id="title">Dumble Shoulder Press</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4 col-sm-12 pl-20">
          <img class="img-fluid" src="images/dumbellpress.gif" alt="gif">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 pl-20 pt-5 shadow">
            <h2 id="counting"> 0 </h2>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <div id="sketch-holder">
              <!-- Our sketch will go here! -->
            </div>
        </div>
      </div>
      <!-- <h2 id="accuracy">0 %</h2> -->

<div class="row text-center">
  <div class="col-12">
      <h3 id='status'>Loading your trainer...</h3>
  </div>
</div>    
   
  <!-- <canvas id="myChart"></canvas> -->
<!-- 
 <form action="/performance" method="GET" >

  <input type="text" id='id1' />
  <input type="text"> 
  <br> 
  <br> 
  <button onclick="gfg_Run()"> 
      See Your Performance 
  </button> 

 </form> -->
 
<dv class="row justify-content-center">
  <div class="col-12">
      <form action="/performance" method="POST">

        <input type="hidden" name="performance" id='id1' />
          <button id="perf" onclick="gfg_Run()" style="margin: 0 auto; cursor: pointer;"> 
            See Your Performance 
        </button>
       
      </form>
  </div>
</dv>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="javascripts/sketch.js"></script>
  </body>
</html>
