<!DOCTYPE html>
<html>
  <head>
      <script src= 
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> 
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
     <script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dumble shoulder press</title>
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <style>
    #title{
        margin: 10px auto;
        background-color: yellowgreen;
        border-radius: 50px;
        font-size: 4em;
        width: max-content;
        padding: 20px;
        box-shadow: 10px 10px 20px 10px rgb(23, 31, 8);
    }

    .btn{
        background-color: yellowgreen;
        border: rgb(107, 143, 35);
    }

    .btn:hover{
        background-color: rgb(107, 143, 35);
        transition: transform 0.5s;
        transform: scale(1.1);
    }

    body {
    background: black;
    color: #fff; 
}

    .card{
        background-color: #333;
        border-left: 5px solid yellowgreen;
        margin-bottom: 20px;
    }

    
    </style>
    <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
  </head>
  <body>

    <h1 id="title">Select one to get started</h1>

    <br><br>
   
    <div class="container">
            <div class="row">
                    
                <div class="col-md-12">
                  
                        <div class="card w-100">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="card-title">Shoulder Dumbell Press</h5>
                                            <p class="card-text">
                                                    Sit on an upright bench holding a dumbbell in each hand at shoulder height with your palms facing away from you. Keep your chest up and your core braced, and look straight forward throughout the move. Press the weights directly upwards until your arms are straight and the weights touch above your head.
                                            </p>
                                            <a href="#" class="btn btn-primary">Let's Do this</a>
                                        </div>
                                        <div class="col-4">
                                            <img style="" src="https://www.bodybuilding.com/exercises/exerciseImages/sequences/328/Male/m/328_1.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                              </div>
                              
                           
                </div>
                <div class="col-md-12">
                  
                        <div class="card w-100">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="card-title">Lateral Side raise</h5>
                                            <p class="card-text">
                                                    Hinge at the hips and bend over until your torso is parallel to the floor, or close to that point, keeping your back straight. Let the dumbbells hang down beneath your chest. Raise the weights out to the sides until your arms are parallel with the ground, then slowly take them back down.
                                            </p>
                                            <a href="#" class="btn btn-primary">Let's Do this</a>
                                        </div>
                                        <div class="col-4">
                                            <img style="" class="img-fluid"  src="https://www.bodybuilding.com/images/2017/march/the-seven-biggest-lateral-raise-mistakes-header-960x540.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                              </div>
                              
                           
                </div>
                <div class="col-md-12">
                  
                        <div class="card w-100">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <h5 class="card-title">Breathing Meditation</h5>
                                            <p class="card-text">
                                                    Choose a comfortable seated position.
                                                    Breathe in and out through your nose.
                                                    Count during each inhale and exhale to make sure they are even in duration. ...
                                                    You can add a slight pause or breath retention after each inhale and exhale if you feel comfortable. ...
                                                    Continue practicing this breath for at least 5 minutes.                                            </p>
                                            <a href="#" class="btn btn-primary">Let's Do this</a>
                                        </div>
                                        <div class="col-4">
                                            <img style="" class="img-fluid" src="http://crossfitignite.com/wp-content/uploads/2018/05/posture-and-breath.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                              </div>
                              
                           
                </div>
                <div class="col-md-12">
                  
                        <div class="card w-100">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                  <a href="#" class="btn btn-primary">Button</a>
                                </div>
                              </div>
                              
                           
                </div>
               
        </div>


</body>
</html>
