<!DOCTYPE html>
<html>
  <head>
      <script src= 
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> 
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
     <script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dumble shoulder press</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
  </head>
<style>
body{
  background-color: black;
}

#myChart{
  height: 91vh !important;
    width: auto !important;
  /* height:71vh !important;
  width:auto !important; */
/*  
  margin-top:40vh; */
}

p{
    display: none;
}

</style>
  <body>

        <div style="width:90%;">
                <canvas id="canvas"></canvas>
              </div>
<script>
  
// var ctx = document.getElementById('myChart').getContext('2d');

// var chart = new Chart(ctx, {
//     // The type of chart we want to create
//     type: 'line',
  
//     // The data for our dataset
//     data: {
//         labels: ['Monday', 'Tuesday', 'Wednesday', 'Thrusday', 'Friday','Saturday'],


//         // datasets: [{
// 		// 		label: 'Dataset 1',
// 		// 		backgroundColor: [
// 		// 			window.chartColors.red,
// 		// 			window.chartColors.orange,
// 		// 			window.chartColors.yellow,
// 		// 			window.chartColors.green,
// 		// 			window.chartColors.blue,
// 		// 			window.chartColors.purple,
// 		// 			window.chartColors.red
// 		// 		],
// 		// 		yAxisID: 'y-axis-1',
// 		// 		data: [
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor()
// 		// 		]
// 		// 	}, {
// 		// 		label: 'Dataset 2',
// 		// 		backgroundColor: window.chartColors.grey,
// 		// 		yAxisID: 'y-axis-2',
// 		// 		data: [
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor(),
// 		// 			randomScalingFactor()
// 		// 		]
// 		// 	}],



//         datasets: [{
//             label: 'Your Accuracy',
//             backgroundColor: 'rgb(0, 0, 0)',
//             borderColor: 'yellowgreen',
           
//             data:[1,4,2,5,3,4,3]
            
//         }
//         ,{
//             label: 'your calories burnt',
//             backgroundColor: 'rgb(0, 0, 0)',
//             borderColor: 'red',
//             data:[1,8,7,6,1,2,5]
//         }]


        
//     },
  
//     // Configuration options go here
//     options: {
//       responsive: true,
//       maintainAspectRatio: false,
//       scales: {
//           yAxes: [{
//               ticks: {
//                   beginAtZero:true
//               }
//           }]
//       }
//   }
//   });
  
   window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(231,233,237)'
  };
  
  var randomScalingFactor = function() {
    return (Math.random() > 0.5 ? 1.0 : 1.0) * Math.round(Math.random() * 100);
  };
  
  var line1 = [1,4,2,5,3,4]
  var line2 = [1,8,7,6,1,5]
  
  var MONTHS = ['Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday'];
  var config = {
    type: 'line',
    data: {
      labels: MONTHS,
      datasets: [{
        label: "My Accuracy",
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
        data: line1,
        fill: false,
      }, {
        label: "My Calories Burnt",
        fill: false,
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data: line2,
      }]
    },
    options: {
      responsive: true,
      title:{
        display:true,
        text:'My Progress'
      },
      tooltips: {
        mode: 'index',
        intersect: false,
      },
     hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Days of your weeks'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
          },
        }]
      }
    }
  };
  
  var ctx = document.getElementById("canvas").getContext("2d");
  var myLine = new Chart(ctx, config);
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</body>
</html>