<!DOCTYPE html>
<html>
  <head>
      <script src= 
      "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> 
      </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="stylesheets/style.css"> -->
     <script src="https://unpkg.com/ml5@0.3.1/dist/ml5.min.js"></script>
    <meta charset="utf-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dumble shoulder press</title>
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
  </head>
<style>
body{
  background-color: black;
}

#myChart{
  height: 91vh !important;
    width: auto !important;
  /* height:71vh !important;
  width:auto !important; */
/*  
  margin-top:40vh; */
}

p{
    display: none;
}

#logout{
  border-radius: 100%;
  background-color: rgb(231, 164, 175);
  color: white;
  width: max-content;
  font-size: 3em;
  padding: 5px;
  position: fixed;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

</style>
  <body>

      <div id="logout"><a href="/menu"><i class="fa fa-arrow-circle-left"></i></a></div>

      <p id="data"><%=data.calories%>,<%=data.accuracy%></p>

        <div style="width:90%;">
                <canvas id="canvas"></canvas>
              </div>
<script>
var Data = document.getElementById("data").innerHTML; 
var performance;
var newArr=[]
  performance=Data.split(",")
  console.log("-->",performance)
  performance.forEach((el)=>{
newArr.push(parseFloat(el))
  })

  console.log("prr",newArr)
  
   window.chartColors = {
    red: 'rgb(255, 99, 132)',
    orange: 'rgb(255, 159, 64)',
    yellow: 'rgb(255, 205, 86)',
    green: 'rgb(75, 192, 192)',
    blue: 'rgb(54, 162, 235)',
    purple: 'rgb(153, 102, 255)',
    grey: 'rgb(231,233,237)'
  };
  
  var randomScalingFactor = function() {
    return (Math.random() > 0.5 ? 1.0 : 1.0) * Math.round(Math.random() * 100);
  };
  
  var line1 = [30,92.98,78.25,87.32,65.35]
  var line2 = [56,78.74,65.99,102.25,79.32]
  
  line1.push(newArr[1])
  line2.push(newArr[0])
  var MONTHS = ['Monday','Tuesday','Wednesday','Thrusday','Friday','Saturday'];
  var config = {
    type: 'line',
    data: {
      labels: MONTHS,
      datasets: [{
        label: "My Accuracy",
        backgroundColor: window.chartColors.red,
        borderColor: window.chartColors.red,
        data: line1,
        fill: false,
      }, {
        label: "My Calories Burnt",
        fill: false,
        backgroundColor: window.chartColors.blue,
        borderColor: window.chartColors.blue,
        data: line2,
      }]
    },
    options: {
      responsive: true,
      title:{
        display:true,
        text:'My Progress'
      },
      tooltips: {
        mode: 'index',
        intersect: false,
      },
     hover: {
        mode: 'nearest',
        intersect: true
      },
      scales: {
        xAxes: [{
          display: true,
          scaleLabel: {
            display: true,
            labelString: 'Days of your weeks'
          }
        }],
        yAxes: [{
          display: true,
          scaleLabel: {
            display: true,
          },
        }]
      }
    }
  };
  
  var ctx = document.getElementById("canvas").getContext("2d");
  var myLine = new Chart(ctx, config);
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

</body>
</html>